# Data Preprocessing

In [1]:
import pandas as pd

In [2]:
path = 'https://raw.githubusercontent.com/Ly-Ax/RetailML/main/data/raw/coffee_shop_sales.csv'
df = pd.read_csv(path)
df.columns

Index(['transaction_id', 'transaction_date', 'transaction_time',
       'store_location', 'product_category', 'product_type', 'product_detail',
       'product_size', 'unit_price', 'quantity', 'total_bill'],
      dtype='object')

In [ ]:
'transaction_id' # delete
'product_detail' # delete

'transaction_date' # Day of Week # X
'transaction_time' # Hour # X
'store_location' # X
'product_category' # X
'product_type' # X
'product_size' # X
'unit_price' # X
'quantity' # X

'total_bill' # y

In [ ]:
X = df[['store_location',
        'product_category',
        'product_type',
        'Size',
        'Hour',
        'Day of Week',
        'transaction_qty',
        'unit_price']]
y = df['Total_Bill']